{% extends "base.html" %}
{% block title %}Images{% endblock %}
{% block content %}
<br>
<br>
<div class="ui container text compact segment">
    <h1>Search Results</h1>
    {% if not images %}
        <p>No images found.</p>
    {% else %}
        <p>Images Found: {{ images|length }}</p>
        <table class="ui celled table">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Author</th>
                <th>Keywords</th>
                <th>Capture Date</th>
                <th>Uploader</th>
                <th>View</th>
                <th>Filters</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            {% for image in images %}
                <tr>
                    <td>{{ image.title }}</td>
                    <td>{{ image.description }}</td>
                    <td>{{ image.author }}</td>
                    <td>{{ image.keywords }}</td>
                    <td>{{ image.creationDate }}</td>
                    <td>
                        <a href="{{ url_for('findImagesByCreator', creator=image.creator) }}">{{ image.creator }}</a>
                    </td>
                    <td>
                        <a href="{{ url_for('static', filename='uploads/' ~ image.creator ~ '/' ~ image.filename) }}" class="ui button blue">View</a>
                    </td>
                    <td>
                        <a href="{{ url_for('imageFilters', id=image.id) }}" class="ui button green">Apply Filters</a>
                    </td>
                    {% if image.creator == session["username"] %}
                        <td>
                            <form action="{{ url_for('modifyImage') }}" method="GET">
                                <input type="hidden" id="id" name="id" value="{{ image.id }}">
                                <input type="submit" value="Modify" class="ui button orange">
                            </form>
                        </td>
                        <td>
                        <!-- Button to delete the image -->
                        <form action="{{ url_for('deleteImage') }}" method="POST">
                            <!-- Pass the image ID and file name for deletion -->
                            <input type="hidden" id="id" name="id" value="{{ image.id }}">
                            <input type="submit" value="Delete Image" class="ui button red" onclick="return confirm('Are you sure you want to delete this image?');">
                        </form>
                        </td>
                    {% else %}
                        <td></td>
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <br>
    <a href="{{ url_for('menu') }}" class="ui blue button">Back to Menu</a>
</div>
{% endblock %}